@{
    ViewData["Title"] = "Claims System - Lecturer: Review Claim";
    var claimId = ViewBag.ClaimId;
    
}

<style>
    body {
        background-color: #121212;
        font-family: 'Segoe UI', sans-serif;
    }

    .claim-box {
        background-color: white;
        border-left: 6px solid #c82333;
        border-radius: 12px;
        padding: 30px;
        max-width: 600px;
        margin: auto;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        color: dimgray;
    }

        .claim-box h2 {
            color: black;
            margin-bottom: 20px;
        }

        .claim-box p {
            margin-bottom: 10px;
        }

    .btn {
        border-radius: 8px;
        font-weight: bold;
    }

    .btn-success {
        background-color: #28a745;
        border: none;
    }

    .btn-danger {
        background-color: #dc3545;
        border: none;
    }

    .btn-secondary {
        background-color: #444;
        color: white;
        border-block-color: black;
        border: none;
    }
</style>

<div class="claim-box mt-5">
    <h2>Claim Details</h2>

    <p><strong>Claim ID:</strong> @claimId</p>
    <p><strong>Lecturer:</strong> K. Daniels</p>
    <p><strong>Type:</strong> Marking</p>
    <p><strong>Month:</strong> August</p>
    <p><strong>Hours:</strong> 4</p>
    <p><strong>Rate:</strong> R250/hr</p>
    <p><strong>Notes:</strong> Completed final exam scripts</p>


    <a class="btn btn-secondary mt-4" asp-controller="Lecturer" asp-action="Lecturer_ViewClaims">Back</a>
</div>

